@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Korosu';
	src: url(‘./Fonts/Korosu.otf’) format(’otf’),
}
h1, h2, h3, h4, h5, h6{
    font-family:'Korosu';
}


[x-cloak] {
    display: none;
}
